* {
  margin: 0;
  padding: 0; }

/* Comienzo header */
.nav {
  background-color: #b74141; }

.logo {
  width: 175px;
  height: 100px; }

.logo:hover {
  padding-left: 5px;
  padding-right: 5px; }

.navUl {
  float: right;
  list-style: none; }

.navUl li {
  display: inline-block; }

.navA {
  text-decoration: none;
  font-size: 35px;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block; }

.navA:hover {
  color: red; }

/* Fin header */
.h1Index {
  text-align: center;
  color: white;
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  -webkit-text-stroke: 1px #b74141;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/* Comienzo section mangas */
.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  padding-top: 25px;
  padding-left: 20px; }

.mangas {
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  text-align: center; }

.mangasImg {
  margin: 5px;
  padding: 6px;
  width: 255px;
  height: 373.5px; }

.mangasImg:hover {
  width: 245px;
  height: 363.5px;
  margin: 10px; }

.prev-next-color {
  color: red; }

/* Fin section mangas */
/* Comienzo section productos */
.productos {
  padding: 5px 10px 5px 10px;
  background-color: #b74141;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, fr);
  grid-template-areas: ". cardh2 cardh2 ." "card1 card2 card3 card4"; }

/* Vista mediana */
@media screen and (max-width: 1080px) {
  .productos {
    padding: 5px 10px 5px 10px;
    background-color: #b74141;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, fr);
    grid-template-areas: "cardh2 cardh2" "card1 card2" "card3 card4"; } }

/* Vista chica */
@media screen and (max-width: 575px) {
  .productos {
    padding: 5px 10px 5px 10px;
    background-color: #b74141;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, fr);
    grid-template-areas: "cardh2" "card1" "card2" "card3" "card4"; } }

.cardh2 {
  grid-area: cardh2; }

.card1 {
  grid-area: card1; }

.card2 {
  grid-area: card2; }

.card3 {
  grid-area: card3; }

.card4 {
  grid-area: card4; }

.cardProductos:hover {
  width: 280px;
  height: 280px;
  padding: 6px; }

.div h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 25px;
  margin: 5px;
  padding: 5px; }

/* Fin section productos */
/* Comienzo pagina mangas */
.h1Mangas {
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  text-align: center;
  color: #b74141;
  text-shadow: 3px 3px 1px #252525;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px; }

.mangasBackground1 {
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.mangasBackground2 {
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  background-color: #b74141;
  background-blend-mode: darken;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Fin pagina mangas */
/* Comienzo pagina productos */
.pagProductos {
  padding: 5px;
  background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
  display: flex;
  justify-content: center; }

.productosImg1 {
  margin: 5px;
  padding: 6px;
  width: 175px;
  height: 250px;
  border: 5px solid #b74141;
  border-radius: 5px; }

.productosImg1:hover {
  width: 165px;
  height: 240px;
  margin: 10px; }

.productosDivAP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 25px;
  margin: 5px;
  padding: 5px; }

/* Fin pagina productos */
/* Comienzo Footer */
footer {
  width: 100%;
  height: 100%;
  text-align: center; }
  footer p {
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: #b74141;
    margin-left: 10px;
    margin-top: 10px; }
  footer i {
    font-size: 30px;
    color: #b74141;
    letter-spacing: 20px;
    float: right;
    padding-bottom: 10px;
    padding-top: 15px; }
  footer div {
    padding-right: 60px; }

/* Fin Footer */
.subir {
  height: 40px;
  width: 40px;
  background-color: #b74141;
  border: 5px solid white;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black; }

.subir:hover {
  background-color: #641c34;
  border: 6px solid #ec0e0e;
  color: black; }

.form {
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%; }
