@import "../variables/variables";
@import "../sass2/mixin";

.h1Index{
    text-align: center;
    color: white;
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    -webkit-text-stroke: 1px $rojo-claro;
    font-family: $letra-main;
}

/* Comienzo section mangas */
.h2{
    font-family: $letra-main;
    margin: 5px;
    padding-top: 25px;
    padding-left: 20px;
}
.mangas{
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    text-align: center;
}
.mangasImg{
    @include mangasImg;
}
.mangasImg:hover{
    width: 245px;
    height: 363.5px;
    margin: 10px;
}
.prev-next-color{
    color: red;
}
/* Fin section mangas */

/* Comienzo section productos */
.productos{
    padding: 5px 10px 5px 10px;
    background-color: $rojo-claro;
    text-align: center;
}
.cardProductos:hover{
    width: 270px;
    height: 260px;
    padding: 6px;
}
.div h3{
    font-family: $letra-main;
    color: white;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}
/* Fin section productos */

/* Comienzo pagina mangas */
.h1Mangas{
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    text-align: center;
    color: $rojo-claro;
    text-shadow: 3px 3px 1px rgb(37, 37, 37);
    font-family: $letra-main;
    padding: 8px;
}
.mangasBackground1{
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mangasBackground2{
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    background-color: $rojo-claro;
    background-blend-mode: darken;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Fin pagina mangas */

/* Comienzo pagina productos */
.pagProductos{
    padding: 5px;
    background-image: url(https://www.ivrea.com.ar/img/bg.jpg);
    display: flex;
    justify-content: center;
}
.productosImg1{
    @include productosImg1;
}
.productosImg1:hover{
    width: 165px;
    height: 240px;
    margin: 10px;
}
.productosDivAP{
    font-family: $letra-main;
    color: black;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}
/* Fin pagina productos */